HF_TOKEN = "HuggingFace_LLama_Token"
GMAIL_EMAIL = "Inbox_Email"
LLM_PROVIDER=groq
GROQ_API_KEY="Grok_key"
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY="langsmith_key"